<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>ÜLIAWSOME VEEBIPOOD | <%= yield(:title) %></title>
    <%= stylesheet_link_tag 'default' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page">
      <div id="header">
         <h1><a href="/">ÜLIAWSOME VEEBIPOOD</a></h1>
         <p>MTAT.03.267 - kevad 2012</p>
      </div>
      <div id="nav">
        <div style="float:left;text-align:left">
		
          <%= link_to_unless_current "Avaleht",		:controller => "static", 
                                                	:action => "index" %> |
          <%= link_to_unless_current "Toodete otsing",	:controller => "items",
							:action => "index" %> |
          <%= link_to_unless_current "Meist",		:controller => "about", 
                                                 	:action => "index" %> |
          <%= link_to_unless_current "Kontakt",		:controller => "contacts", 
                                                 	:action => "index" %>
        </div>
        <div style="text-align:right">
        
		  <%= link_to_unless_current "Ostukorv",  :controller => "cart", 
                                                 :action => "index" %> | 
                  <% if signed_in? %>
                    <%= link_to "Logi valja", signout_path, method: "delete" %> |
                    <%= link_to "Konto", current_user %> |
                    <%= link_to "Seaded", edit_user_path(current_user) %>
                  <% else %>
                    <%= link_to_unless_current "Loo kasutaja", signup_path %> |
                    <%= link_to "Logi sisse", signin_path %>
                  <% end %>
        </div>
      </div>
    </div>
    <div id="main"> <!-- <div id="content"> -->
       <% flash.each do |key, value| %>
         <div class="alert alert-<%= key %>"><%= value %></div>
       <% end %>
       <%= yield %>
    </div>
</body>
</html>
